{
    "swagger": "2.0",
    "info": {
        "description": "This is server for Wallet service.",
        "title": "Wallet API",
        "contact": {},
        "license": {
            "name": "Apache 2.0"
        },
        "version": "1.0.0"
    },
    "host": "cms.wallet.com",
    "basePath": "/api/v1",
    "paths": {
        "/btc/get_balance": {
            "post": {
                "description": "Get blockchain info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "BTC"
                ],
                "summary": "Get blockchain info",
                "parameters": [
                    {
                        "description": "operationID is only for tracking",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetEthBalanceRequest"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetEthBalanceResponse"
                        }
                    }
                }
            }
        },
        "/btc/test_btc": {
            "post": {
                "description": "Testing btc-rpc server",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "BTC"
                ],
                "summary": "Testing btc-rpc server",
                "parameters": [
                    {
                        "description": "operationID is only for tracking",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestResponse"
                        }
                    }
                }
            }
        },
        "/eth/get_support_token_addresses": {
            "post": {
                "description": "Get token address list that we are support",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ETH"
                ],
                "summary": "Get token address list that we are support",
                "parameters": [
                    {
                        "description": "operationID is only for tracking",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetSupportTokenAddressesRequest"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetSupportTokenAddressesResponse"
                        }
                    }
                }
            }
        },
        "/usdterc20/get_balance": {
            "post": {
                "description": "Get Balance for USDT-ERC20 address",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "USDT-ERC20"
                ],
                "summary": "Get Balance for USDT-ERC20 address",
                "parameters": [
                    {
                        "description": "operationID is only for tracking",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestResponse"
                        }
                    }
                }
            }
        },
        "/wallet/test": {
            "post": {
                "description": "Testing wallet server",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Test"
                ],
                "summary": "Testing wallet server",
                "parameters": [
                    {
                        "description": "operationID is only for tracking",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.TestResponse"
                        }
                    }
                }
            }
        },
        "/wallet/test_eth": {
            "post": {
                "description": "Get Balance for eth address, coinType: 1 BTC, 2 ETH, 3 USDT-ERC20, 4 TRX, 5 USDT-TRC20",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ETH"
                ],
                "summary": "Get Balance for eth address",
                "parameters": [
                    {
                        "description": "operationID is only for tracking",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetEthBalanceRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetEthBalanceResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/wallet_api.GetEthBalanceResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "big.Int": {
            "type": "object"
        },
        "wallet_api.GetEthBalanceRequest": {
            "type": "object",
            "required": [
                "address",
                "coin_type",
                "operationID"
            ],
            "properties": {
                "address": {
                    "type": "string"
                },
                "coin_type": {
                    "type": "integer"
                },
                "operationID": {
                    "type": "string"
                }
            }
        },
        "wallet_api.GetEthBalanceResponse": {
            "type": "object",
            "properties": {
                "balance": {
                    "type": "object",
                    "$ref": "#/definitions/big.Int"
                }
            }
        },
        "wallet_api.GetSupportTokenAddressesRequest": {
            "type": "object",
            "required": [
                "operationID"
            ],
            "properties": {
                "operationID": {
                    "type": "string"
                }
            }
        },
        "wallet_api.GetSupportTokenAddressesResponse": {
            "type": "object",
            "properties": {
                "address_list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/wallet_api.SupportTokenAddress"
                    }
                }
            }
        },
        "wallet_api.SupportTokenAddress": {
            "type": "object",
            "required": [
                "belong_coin",
                "coin_type",
                "contract_address"
            ],
            "properties": {
                "belong_coin": {
                    "type": "integer"
                },
                "coin_type": {
                    "type": "integer"
                },
                "contract_address": {
                    "type": "string"
                }
            }
        },
        "wallet_api.TestRequest": {
            "type": "object",
            "required": [
                "name",
                "operationID"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "operationID": {
                    "type": "string"
                }
            }
        },
        "wallet_api.TestResponse": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        }
    }
}